.ClockPanel {
    height: 100%;
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column;
}

.ClockPanelSection {
    flex: 12;
}

.ClockPanelRibbon {
    flex: 1;
    background-color: #333333;
}
