.ClockDisplay {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ClockDisplayInner {
    font-size: 20vw;
    color: #333;
    user-select: none;
    cursor: default;
}
