.PeriodsDisplay {
    position: absolute;
    display: block;
    height: 10vw;
    width: 10vw;
    background-color: #a2d2ff;
    border-radius: calc(10vw / 2);
    text-align: center;
}

.PeriodsDisplayInner {
    font-size: 6vw;
    transform: translateY(1.2vw);
}