.ClockPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ClockPanelSectionA, .ClockPanelSectionB {
    flex: 12;
}

.ClockPanelRibbon {
    flex: 1;
    background-color: #333333;
}
