.ClockDisplayContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ClockDisplayInner {
    font-size: 20vw;
    color: #333;
    user-select: none;
    cursor: default;
}

.PeriodsDisplay {
    position: absolute;
    display: block;
    height: 10vw;
    width: 10vw;
    background-color: #a2d2ff;
}

.PeriodsDisplayInner {
    font-size: 3.5rem;
}