body {
    /* full screen width */
    height: 100vh;
}

#root {
    /* inherit 100% full screen width */
    height: 100%;
}

.App {
    /* inherit 100% full screen width */
    height: 100%;

    /* flex layout */
    display: flex;
    flex-direction: column;

    /*justify-content: center;*/
}

.SectionA, .SectionB {
    flex: 14;
    text-align: center;
}

.SplitArea {
    flex: 1;
    background-color: #333333;
}